.SignUp .left form legend h1 {
    color: var(--dark);
    font-weight: bold;
}

.SignUp .left form legend h6 {
    font-weight: bold;
}

.SignUp .left form .buttonGradientContainer button {
    border-radius: 10px;
    font-family: 'Jardi', sans-serif;
}
