.SignIn {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px;
  background-color: #F7F7FF;
}

.SignIn .left {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%
}

.SignIn .left form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
}

.SignIn .left form legend {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.SignIn .left form legend h6 {
  color: #3D6988;
  margin-bottom: 30px;
}

.SignIn .left form fieldset {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.SignIn .left form fieldset label {
  align-self: flex-start;
  margin-left: 22px;
}

.SignIn .left small {
  color: #3D6988;
}

.SignIn .right {
  width: 50%;
}

.SignIn .right img {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
