.ChannelSection {
    width: 100%;
    padding: 10px 20px;
}

.ChannelSection .ChannelTitle {
    align-items: flex-start;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.ChannelSection .ChannelTitle h3 {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 0;
    height: 10px;
    line-height: 24px;
}

.ChannelSection .ChannelTitle a {
    color: var(--light);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    transition: 0.3s ease;
}

.ChannelSection .ChannelTitle a:hover {
    color: var(--accent);
    border-radius: 100%;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
}

.ChannelSection .ChannelItem h6 {
    align-items:center;
    display:flex;
    height:30px;
    padding: 5px;
    width:100%;
}

.ChannelSection .ChannelItem:hover,
.ChannelSection>.activeChannel {
    background-color: var(--accent);
    border-radius: 5px;
    cursor: pointer;
    min-height: 30px;
    transition: 0.3s ease-in ease-out;
    width: 80%;
}
