/* Main */

.Main {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Main, .Main>div {
    height: 100%
}

.Main>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Main Nav */

.Main .Nav {
    align-items: center;
    background-color: var(--dark);
    flex-basis: 8%;
    padding: 18px 0;
}

.Main .Nav .NavItem {
    background-color: var(--accent);
    border-radius: 10px;
    height: 60px;
    width: 60px;
}

.Main .Nav .NavItem:hover {
    cursor: pointer;
    border: 3px solid var(--lightAccent);
    border-radius: 10px;
    height: 57px;
    width: 57px;
    transition: 0.3s ease;
}

/* Main Channels */

.Main .Channels {
    align-items: flex-start;
    background-color: var(--darkAccent);
    color: var(--light);
    flex-basis: 21%;
}

.Main .Channels h1 {
    padding: 18px;
}

.Main .Channels hr {
    border: 1px solid var(--accent);
    height: 0;
    width: 100%;
}

/* Main Feed */

.Main .Feed {
    align-items: center;
    background-color: var(--light);
    flex-basis: 47%;
}

/* Main Posts */
.Main .Feed .Posts {
    height: 100%;
    width: 100%;
    margin-top: 10px;
}

/* Main Users */

.Main .Users {
    align-items: flex-start;
    background-color: var(--darkAccent);
    color: var(--light);
    flex-basis: 24%;
}

.Main .Users .UserItem {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Main .Users .UserItem .UserIcon {
    background-color: var(--accent);
    border-radius: 10px;
    height: 48px;
    width: 48px;
}

.Main .Users .UserItem .User {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -15px;
}

.Main .Users .UserItem .User .UserStatus {
    color: var(--lightAccent);
}

.Main .CreatePost {
    align-items: center;
    background-color: var(--light);
    width: 90%;
    margin-bottom: 10px;
}

.Main .CreatePost .NewPostMessage {
    width: 100%;
    background: transparent;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--accent);
    color: var(--darkAccent);
}

textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--accent);
  opacity: 0.8; /* Firefox */
  font-weight: 1000;
}

textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--accent);
  font-weight: 1000;
}

textarea::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--accent);
  font-weight: 1000;
}
