/* Main */

.Main {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Main, .Main>div {
    height: 100%
}

.Main>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Main Nav */

.Main .Nav {
    align-items: center;
    background-color: var(--dark);
    flex-basis: 8%;
    padding: 18px 0;
}

.Main .Nav .NavItem {
    background-color: var(--accent);
    border: 3px solid transparent;
    border-radius: 10px;
    height: 60px;
    width: 60px;
}

.Main .Nav .NavItem:hover {
    border: 3px solid var(--lightAccent);
    border-radius: 10px;
    cursor: pointer;
    height: 60px;
    transition: 0.3s ease;
    width: 60px;
}

/* Header Toolbar */
.Main .HeaderToolbar {
    background-color: var(--darkAccent);
    border-bottom: 2px solid var(--accent);
    align-items: flex-start;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.Main .HeaderToolbar a {
    display: flex;
    color: var(--light);
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
    justify-content: center;
    transition: 0.3s ease;
}

.Main .HeaderToolbar a:hover {
    color: var(--accent);
    border-radius: 100%;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
}

/* Main Channels */

.Main .Channels {
    align-items: flex-start;
    background-color: var(--darkAccent);
    color: var(--light);
    flex-basis: 17%;
}

.Main .Channels-lg {
    align-items: flex-start;
    background-color: var(--darkAccent);
    color: var(--light);
    flex-basis: 23% !important;
}

.Main .Channels h1 {
    font-size: 36px;
    height: 36px;
    padding: 5%;
}

.Main .Channels hr {
    border: 1px solid var(--accent);
    height: 0;
    width: 100%;
}

.Main .Channels .ChannelGroup h5 {
    font-size: 23px;
    font-weight: bold;
    height: 23px;
}

.Main .Channels .ChannelGroup h6 {
    font-size: 20px;
    font-weight: bold;
}

/* Main Feed */

.Main .Feed {
    align-items: center;
    background-color: var(--light);
    flex-basis: 55%;
}

.Main .Feed-lg {
    align-items: center;
    background-color: var(--light);
    flex-basis: 74% !important;
}

.Main .Feed textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--accent);
    font-weight: 1000;
    opacity: 0.8; /* Firefox */
}

.Main .Feed textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--accent);
    font-weight: 1000;
}

.Main .Feed textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--accent);
    font-weight: 1000;
}

/* Main Feed Posts */

.Main .Feed .Posts {
    height: 100%;
    overflow-y: scroll;
    padding-top: 20px;
    width: 100%;
}

/* Main Feed CreatePost */

.Main .CreatePost {
    align-items: center;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 10px;
    width: 100%;
}

.Main .CreatePost .NewPostMessage {
    background: transparent;
    border: 2px solid var(--accent);
    border-radius: 10px;
    box-shadow: 0 0 3px 0 var(--dark);
    color: var(--darkAccent);
    height: 100%;
    padding: 15px;
    outline: none;
    overflow-y: scroll;
    resize: none;
    width: 92%;
}

.Main .CreatePost .NewPostMessage:hover {
    background: rgba(28, 160, 222, 0.1);
    transition: 0.3s ease;
}

.Main .CreatePost .NewPostMessage:focus {
    background: transparent;
    transition: 0.3s ease;
}

/* Main Users */

.Main .Users {
    align-items: flex-start;
    background-color: var(--darkAccent);
    color: var(--light);
    flex-basis: 20%;
}

.Main .Users h1 {
    font-size: 36px;
    height: 36px;
    padding: 18px;
}

.Main .Users hr {
    border: 1px solid var(--accent);
    height: 0;
    width: 100%;
}

.Main .Users .UsersTitle {
    align-items: flex-start;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.Main .Users .UsersTitle a {
    color: var(--light);
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
    justify-content: center;
    transition: 0.3s ease;
}

.Main .Users .UsersTitle a:hover {
    color: var(--accent);
    border-radius: 100%;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
}

.Main .Users .UserItem {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border: 2px solid transparent;
}

.Main .Users .UserItem:hover {
    cursor: pointer;
    border: 2px solid var(--accent);
    border-radius: 5px;
    transition: 0.3s ease;
}

.Main .Users .UserItem .UserIcon {
    background-color: var(--accent);
    border-radius: 10px;
    height: 40px;
    width: 40px;
}

.Main .Users .UserItem .User {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Main .Users .UserItem .User h6 {
    font-family: 'Jaldi', sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 20px;
}

.Main .Users .UserItem .User .UserStatus {
    color: var(--lightAccent);
}

.Main .Users .UserItem .User .UserStatus p {
    font-family: 'Jaldi', sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 16px;
}
