.Post {
    width: 90%;
    background: white;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin-bottom: 10px;
}

.Post .UserItem {
    align-items: center;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.Post .UserItem .UserIcon {
    background-color: var(--accent);
    border-radius: 10px;
    height: 48px;
    width: 48px;
}

.Post .PostComments .UserItem .UserCommentIcon {
    background-color: var(--lightAccent);
    border-radius: 10px;
    height: 48px;
    width: 48px;
    margin-bottom: auto;
}

.Post .PostComments .UserItem .UserComment {
    background-color: var(--accent);
    border-radius: 10px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 130px;
    margin-left: 10px;
    /* margin-top: 30px; */
    padding: 10px;
    color: var(--light);
}

.Post .UserItem .User {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -15px;
}

.Post .UserItem .User .UserStatus {
    color: var(--lightAccent);
}

.Post .PostContent {
    margin: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Post hr {
    width: 100%;
    border: 1px solid var(--lightAccent);
}

.Post .PostContent .PostMessage {
    min-height: 30px;
    display: flex;
}

.Post .PostContent .PostMessage p {
    height: auto;
}

.Post .PostContent .PostImage {
    height: 234px;
    width: 100%;
    border-radius: 10px;
    background: var(--darkAccent);
}
