.SearchBar {
    background-color: var(--darkAccent);
    width: 100%;
}

form, input[type=text] {
    width: 97%;
}

input[type=text] {
    background-color: var(--darkAccent);
    border: 2px solid var(--light);
    color: var(--light);
}

input[type=text]::placeholder {
    color: var(--light);
}
