.SearchBar {
    align-items: center;
    background-color: var(--darkAccent);
    display: flex;
    flex-direction: column;
    height: 65px;
    justify-content: flex-end;
    width: 100%;
}

.SearchBar form {
    box-shadow: 0 0 3px 0 var(--dark);
    height: 40px;
    padding-bottom: 1px;
    width: 91%;
}


.SearchBar form input[type=text] {
    background-color: var(--darkAccent);
    border: 2px solid var(--light);
    color: var(--light);
    height: 40px;
    width: 100%;
}

.SearchBar form input[type=text]::placeholder {
    color: var(--light);
}

.SearchBar form input[type=text]:hover {
    background-color: white;
    border: 2px solid var(--accent);
    color: var(--darkAccent);
    outline: none;
    transition: 0.3s ease;
}

.SearchBar form input[type=text]:hover::placeholder {
    color: var(--darkAccent);
}
