.SearchBar {
    align-items: center;
    /* background-color: var(--accent-light-desat); */
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.Feed-lg .SearchBar {
    align-items: center;
    /* background-color: var(--accent-light-desat); */
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    width: 90%;
}

.SearchBar form {
    height: 42px;
    width: 100%;
}

.SearchBar form input[type=text] {
    background-color: white;
    border: 2px solid var(--accent-desat);
    color: var(--darkAccent);
    height: 40px;
    width: 80%;
}

.SearchBar form input[type=text]::placeholder {
    color: var(--darkAccent);
}

.SearchBar form input[type=text]:hover {
    background-color: rgba(28, 160, 222, 0.1);
    border: 2px solid var(--accent);
    color: var(--darkAccent);
    outline: none;
    transition: 0.3s ease;
}

.SearchBar form input[type=text]:hover::placeholder {
    color: var(--darkAccent);
}
