html, body, #root {
    /* min-height: 800px; */
    /* overflow-y: visible !important; */
}

.Discover {
    align-items: center;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    overflow-y: scroll;
}

.Discover .ellipse {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.Discover .school {
    bottom: 0;
    margin-bottom: 0;
    left: 50%;
    margin-left: -28%;
    position: absolute;
    width: 56%;
    z-index: 1;
}

.Discover .discoverForm {
    margin-top: 40px;
    margin-bottom: -40px;
    z-index: 2;
    height: 360px;
}

.Discover .discoverForm label h4 {
    color: var(--light);
}

.Discover .discoverForm>.discoverClasses {
    background-color: var(--light);
    color: var(--dark);
    height: 40px !important;
}

.Discover .searchResults {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2;
    width: 100%;
    padding: 0 50px;
}

.Discover .searchResults .resultGroups {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.Discover .searchResults .resultGroups>a {
    height: 431.6px !important;
    margin: 20px 40px;
    padding: 0;
    width: 290px !important;
}
