.discover {
    min-width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
    padding-top: 30vh;
}

.row {
    align-items: center;
    justify-content: center;
}
.search {
    z-index: 2;
    align-self: center;
}

.search label h4 {
    color: var(--light);
}

.mt-auto {
    margin-top: 50vw !important;
}

.school {
    bottom: 0;
    margin-bottom: 0;
    left: 50%;
    margin-left: -22%;
    position: absolute;
    width: 50%;
    z-index: 0;
}

.hidden {
    opacity: 0;
    transition: 0.4s ease;
}
