/* App */

* {
    box-sizing: border-box;
}

.App {
    text-align: center;
}

/* Heading and Text */

h1, h2, h3, h4, h5, h6, p, button, input, textarea {
    font-family: 'Jaldi', sans-serif !important;
    font-weight: bold !important;
    margin: 0;
}

h1 {
    font-size: 36px;
    height: 36px;
}

h2 {
    font-size: 32px;
    height: 32px;
}

h3 {
    font-size: 29px;
    height: 29px;
}

h4 {
    font-size: 26px;
    height: 26px;
}

h5 {
    font-size: 23px;
    height: 23px;
}

h6 {
    font-size: 20px;
    height: 20px;
}

p.big, a.big {
    color: var(--darkAccent);
    font-size: 16px;
    height: 16px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    height: 16px;
}

small {
    color: var(--darkAccent);
    font-family: 'Jaldi', sans-serif;
    font-size: 14px;
    height: 14px;
}

/* Label, Input, Button, and Anchor */

label {
    color: var(--darkAccent);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 10px
}

button, input {
    border-radius: 10px;
    height: 40px;
    margin: 16px;
    width: 350px;
}

input[type=text], input[type=email], input[type=password], input[type=date], input[type=number], input[type=file] {
    border: 1px solid var(--lightAccent);
    font-family: 'Roboto', sans-serif;
    outline: none;
    padding: 0 10px;
    margin-top: 0;
}

input[type=text]::placeholder, input[type=email]::placeholder, input[type=password]::placeholder, input[type=date]::placeholder , input[type=number]::placeholder, input[type=file]::placeholder {
    color: var(--lightAccent);
    font-size: 12px;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, input[type=number]:focus, input[type=file]:focus {
    box-shadow: 0 0 0 2px var(--primary);
    transition: 0.4s ease;
}

button, input[type=submit] {
    background-color: var(--primary);
    background-image: none;
    border: none;
    color: var(--light);
    cursor: pointer;
    font-size: 16px;
    margin-top: 0;
    transition: 0.4s ease;
}

.alt {
    background-color: var(--accent);
}

button:hover, input[type=submit]:hover {
    background: transparent;
    transition: 0.4s ease;
}

a {
  color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: var(--accent);
}

/* Form Styles */

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

form legend {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

form legend h6 {
    color: var(--darkAccent);
    margin-top: 24px;
    margin-bottom: 20px;
}

form fieldset {
    align-items: center;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

form fieldset label {
    align-self: flex-start;
    margin-top: 20px;
}

/* Margins */

.m-0 {
    margin: 0;
}
.m-l-5 {
    margin-left: 5px;
}
.m-l-10 {
    margin-left: 10px;
}
.m-l-15 {
    margin-left: 15px;
}
.m-l-20 {
    margin-left: 20px;
}
.m-l-30 {
    margin-left: 30px;
}
.m-l-40 {
    margin-left: 40px;
}
.m-r-5 {
    margin-right: 5px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-r-20 {
    margin-right: 20px;
}
.m-r-30 {
    margin-right: 30px;
}
.m-r-40 {
    margin-right: 40px;
}
.m-t-0 {
    margin-top: 0;
}
.m-t-5 {
    margin-top: 5px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-15 {
    margin-top: 15px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-t-25 {
    margin-top: 25px;
}
.m-t-30 {
    margin-top: 30px;
}
.m-t-40 {
    margin-top: 40px;
}
.m-b-0 {
    margin-bottom: 0;
}
.m-b-5 {
    margin-bottom: 5px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-14 {
    margin-bottom: 14px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-b-30 {
    margin-bottom: 30px;
}
.m-b-40 {
    margin-bottom: 40px;
}
.m-b-n5 {
    margin-bottom: -5px;
}
.m-b-n7 {
    margin-bottom: -7px;
}
.m-t-n5 {
    margin-top: -5px;
}
.m-t-n10 {
    margin-top: -10px;
}
.m-t-n15 {
    margin-top: -15px;
}
.m-t-n20 {
    margin-top: -20px;
}
.m-t-n25 {
    margin-top: -25px;
}
.m-t-n30 {
    margin-top: -30px;
}
.m-l-0 {
    margin-left: 0px;
}
.m-l-n5 {
    margin-left: -5px;
}
.m-l-n10 {
    margin-left: -10px;
}
.m-l-n15 {
    margin-left: -15px;
}
.m-l-n20 {
    margin-left: -20px;
}

/* Split View */

.splitView {
    align-items: center;
    background-color: var(--light);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
}

.splitView .left {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%
}

.splitView .right {
    width: 50%;
}

.splitView .right img {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* Button Gradient */

.buttonGradientContainer {
    height: 40px;
    width: 350px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(#5EFC8D 0%, #0CBCD3 43.23, #1CA0DE 56.77, #268FE4 65.1, #4E47FF 100%);
    background-image: -o-linear-gradient(#5EFC8D 0%, #0CBCD3 43.23, #1CA0DE 56.77, #268FE4 65.1, #4E47FF 100%);
    background-image: linear-gradient(135deg, #5EFC8D 0%, #0CBCD3 43.23%, #1CA0DE 56.77%, #268FE4 65.1%, #4E47FF 100%);
    transition: 0.4s ease-in ease-out;
}

.buttonGradientContainerAlt {
    height: 40px;
    width: 350px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(#5EFC8D 0%, #0CBCD3 50%, #1CA0DE 100%);
    background-image: -o-linear-gradient(#5EFC8D 0%, #0CBCD3 50%, #1CA0DE 100%);
    background-image: linear-gradient(135deg, #5EFC8D 0%, #0CBCD3 50%, #1CA0DE 100%);
    transition: 0.4s ease-in ease-out;
}

.text-decoration-none {
    text-decoration: none !important;
}

/* Loading animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.rotate-left {
  -webkit-animation: spin 2s reverse infinite;
  -moz-animation: spin 2s reverse infinite;
  -ms-animation: spin 2s reverse infinite;
  -o-animation: spin 2s reverse infinite;
  animation: spin 2s reverse infinite;
}

.rotate-slow {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  -ms-animation: spin 4s linear infinite;
  -o-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

.loading {
    width: 253.6px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -128.8px;
    margin-top: -100px;
}
