/* App */

* {
  box-sizing: border-box;
}

.App {
    text-align: center;
}

/* Heading and Text */

h1, h2, h3, h4, h5, h6, p, button {
  font-family: 'Jaldi', sans-serif;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 36px;
  height: 36px;
}

h2 {
  font-size: 32px;
  height: 32px;
}

h3 {
  font-size: 29px;
  height: 29px;
}

h4 {
  font-size: 26px;
  height: 26px;
}

h5 {
  font-size: 23px;
  height: 23px;
}

h6 {
  font-size: 20px;
  height: 20px;
}

p {
  font-size: 16px;
  height: 16px;
}

small {
  color: var(--darkAccent);
  font-family: 'Jaldi', sans-serif;
  font-size: 14px;
  height: 14px;
}

/* Label, Input, Button, and Anchor */

label {
  color: var(--darkAccent);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 10px
}

button, input {
  border-radius: 10px;
  height: 40px;
  margin: 16px;
  width: 350px;
}

input[type=text], input[type=email], input[type=password] {
  border: 1px solid var(--lightAccent);
  font-family: 'Roboto', sans-serif;
  outline: none;
  padding: 0 10px;
  margin-top: 0;
}

input[type=text]::placeholder, input[type=email]::placeholder, input[type=password]::placeholder {
  color: var(--lightAccent);
  font-size: 12px;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  box-shadow: 0 0 0 2px var(--primary);
}

button, input[type=submit] {
  background-color: var(--primary);
  border: none;
  color: var(--light);
  cursor: pointer;
  font-size: 16px;
  margin-top: 0
}

button:hover, input[type=submit]:hover {
  background-color: var(--accent);
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--accent);
}

/* Form Styles */

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
}

form legend {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

form legend h6 {
  color: var(--darkAccent);
  margin-top: 24px;
  margin-bottom: 45px;
}

form fieldset {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

form fieldset label {
  align-self: flex-start;
  margin-left: 22px;
}

/* Split View */

.splitView {
  align-items: center;
  background-color: var(--light);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px;
}

.splitView .left {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%
}

.splitView .right {
  width: 50%;
}

.splitView .right img {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
