:root {
  --primary: #4E47FF;
  --accent: #1CA0DE;
  --light: #F7F7FF;
  --lightAccent: #C7D8E3;
  --dark: #2C4251;
  --darkAccent: #3D6988;
}

html, body, #root, #root>div {
  height: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
