.Settings {
    margin-top: auto;
}

.SettingsModal {
    background-color: var(--light) !important;
    height: 700px !important;
    width: 700px !important;
    margin-left: -100px !important;
    display: flex;
    flex-direction: column;
    display: block;
}

/* Modal Header */

.SettingsModal .modal-header {
    border: none;
    padding: 0;
}

.SettingsModal .modal-header button {
    width: 28px;
    position: absolute;
    top: 15px;
    right: 22px;
    padding: 5px;
}

.SettingsModal .modal-header button span {
    margin: auto;
    color: var(--darkAccent);
    font-family: 'Jaldi', sans-serif;
}

.SettingsModal .modal-header button span:hover {
    color: var(--dark);
}

/* Modal Body */

.SettingsModal .modal-body {
    padding: 30px 70px;
}

.SettingsModal .modal-body h2 {
    font-size: 32px;
    font-weight: bold;
    height: 32px;
}

.SettingsModal .modal-body .tab {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.SettingsModal .modal-body .tab .tablinks {
    color: var(--darkAccent);
    cursor: pointer;
}

.SettingsModal .modal-body .tab .tablinks:focus,
.SettingsModal .modal-body .tab .tablinks:hover {
    color: var(--accent);
    text-decoration: none;
}

.SettingsModal .modal-body .tab .active {
    color: var(--accent);
}

.SettingsModal .modal-body hr {
    border: 1px solid var(--lightAccent)
}

/*  Modal Body - General Section */

.SettingsModal .modal-body .general {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.SettingsModal .modal-body .general .Avatar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.SettingsModal .modal-body .general .Avatar .left {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.SettingsModal .modal-body .general .Avatar .left .UserIcon {
    background-color: var(--accent);
    border-radius: 10px;
    height: 40px;
    width: 40px;
}

.SettingsModal .modal-body .general .Avatar .left .avatarText {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -5px;
}

.SettingsModal .modal-body .general .Avatar .right button {
    background-color: var(--accent);
    border-radius: 7px;
    font-family: 'Jaldi';
    font-weight: bold;
    font-size: 20px;
    height: 35px;
    width: 100px;
}

.SettingsModal .modal-body .general .UserInfo {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.SettingsModal .modal-body .general .UserInfo .left,
.SettingsModal .modal-body .general .UserInfo .right {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.SettingsModal .modal-body .general .UserInfo .left .userInput,
.SettingsModal .modal-body .general .UserInfo .right .userInput {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.SettingsModal .modal-body .general .UserInfo .left .userInput>input,
.SettingsModal .modal-body .general .UserInfo .right .userInput>input {
    width: 100%;
}


.SettingsModal .modal-body .general .UserInfo .right>button {
    align-self: flex-end;
    background-color: var(--accent);
    border-radius: 7px;
    font-family: 'Jaldi';
    font-weight: bold;
    font-size: 20px;
    height: 35px;
    width: 100px;
}

/*  Modal Body - Notifications Section */

/*  Modal Body - Billing Section */

/* Modal Footer */

.SettingsModal .modal-footer {
    align-items: flex-start;
    border: none;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    padding: 0 70px 30px 70px;
    width: 100%;
}

.SettingsModal .modal-footer hr {
    border: 1px solid var(--lightAccent);
    width: 100%;
    margin-bottom: 10px;
}

.SettingsModal .modal-footer .deleteAccount {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SettingsModal .modal-footer .deleteAccount .deleteAccountText {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    justify-content: flex-start;
}

.SettingsModal .modal-footer .deleteAccount .deleteAccountText h6 {
    font-size: 20px;
    font-weight: bold;
    height: 20px;
}

.SettingsModal .modal-footer .deleteAccount .deleteAccountText small {
    color: var(--darkAccent);
    font-family: 'Jaldi', sans-serif;
    font-size: 14px;
    height: 14px;
}

.SettingsModal .modal-footer .deleteAccount>button {
    border-radius: 7px;
    font-family: 'Jaldi';
    font-weight: bold;
    font-size: 20px;
    height: 35px;
    line-height: 23px;
    width: 100px;
}
